<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hubaba.name %>
</p>

<p>
  <strong>Man:</strong>
  <%= @hubaba.man %>
</p>

<%= link_to 'Edit', edit_hubaba_path(@hubaba) %> |
<%= link_to 'Back', hubabas_path %>
